<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task_list.html</title>
</head>

<body>
    
    {% extends 'base/main.html' %}
    {% block content %}

    <div class="header bar">
        <div>
            <h1>Hello {{request.user|title}}</h1>
            <h3 style="margin:0;">You have <i>{{count}}</i> incomplete task{{count|pluralize}}</h3>
        </div>
        {% if request.user.is_authenticated %}
        <!-- <p>{{request.user}}</p> -->
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">LogIn</a>
        {% endif %}
    </div>

    <hr>

    <!-- <h1>My to do list {{color}}</h1>  -->
    <div class="search-add-wrapper">
        <form class="search-form" action="" method="get" style="margin-top: 20px;display:flex;">
            <input type="text" name="search-area" value="{{search_input}}">
            <input class="button" type="submit" value="Search">
        </form>
        <a id="add-link" href="{% url 'task-create' %}"><ion-icon name="add-outline"></ion-icon></a>        
    </div>



    <div class="task-items-wrapper">
        {% for task in tasks %}
            <div class="text-wrapper">
                {% if task.complete %}
                    <div class="task-title">
                        <div class="task-complete-icon"></div>
                        <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
                    </div>
                    {% else %}
                    <div class="task-title">
                        <div class="task-incomplete-icon"></div>
                        <a href="{% url 'task-update' task.id %}">{{task}}</a>
                    </div>
                    <a class="delete-link" href="{% url 'task-delete' task.id %}"><ion-icon name="trash-outline"></ion-icon></a>
                    {% endif %}
            </div>

        {% empty %}
        <h3>No items in list</h3>
        {% endfor %}
    </div>
    <!-- <table>
        <tr>
            <th>Item</th>
            <th></th>
            <th></th>
            <th></th>
            <th>View</th>
            <th>Update</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
             <td><a href="{% url 'task' task.id %}">View</a></td>
            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h3>No items in list</h3>
        {% endfor %}
    </table> -->

    {% endblock content %}

</body>

</html>
<!-- 
{} -> we can write python logic
{} -> this is django templating syntax
request.object == request.user
 -->