{% extends 'basic-discord.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block style %}

{% endblock style %}

{% block body %}

<main class="layout layout--3">
    <div class="container">

        <!-- Topics Start -->
        {% include 'base/topic_component.html' %}
        <!-- Topics End -->

        <!-- Room List Start -->
        <h5>{{room_count}} rooms available</h5>
            <a href="{% url 'base:createRoom' %}">Create Room</a>
            {% include 'base/feed_component.html' %}
        <!-- Room List End -->

        <!-- Activities Start -->
        {% include 'base/activity_component.html' %}
        <!-- Activities End -->

    </div>
</main>

{% endblock body %}

{% block script %}{% endblock script %}