{% extends 'basic-discord.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title %}</title>
    {% block style %}{% endblock style %}
</head>
<body>

    {% block body %}
    <h1>we are in home</h1>

    <div>
        {% for room in rooms %}
        <div>            
            <h5>{{room.id}} -- <a href="/room/{{room.id}}">{{room.name}}</a></h5>
        </div>
        {% endfor %}
    </div>

    {% endblock body %}

    {% block script %}{% endblock script %}

</body>
</html>