{% extends 'basic-discord.html' %}
<!DOCTYPE html>
{% block title %}Home{% endblock title %}
{% block style %}{% endblock style %}

    {% block body %}
    <h1>we are in home</h1>

    <div>
        {% for room in rooms %}
        <div>     
            
            <span>@{{room.host.username}}</span>
            <h5>{{room.id}} -- <a href="{% url 'base:room'  room.id %}">{{room.name}}</a></h5>
            <small>{{room.topic.name}}</small>

        </div>
        <hr>
        {% endfor %}
    </div>

    {% endblock body %}

    {% block script %}{% endblock script %}